.gallery-previous-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.gallery-next-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.gallery-prev-arrow path, .gallery-next-arrow path {
  stroke: currentColor;
  color: inherit;
}
