@property --button-color {
  syntax: '<color>';
  inherits: true;
  initial-value: black;
}

.gallery-previous-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  --button-color: currentColor;
}

.gallery-next-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  --button-color: currentColor;
}

.gallery-prev-arrow, .gallery-next-arrow {
  position: relative;
  top: 2px;
}

.gallery-prev-arrow path, .gallery-next-arrow path {
  fill: var(--button-color);
}
