.predator-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9997;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.predator-close {
  position: fixed;
  z-index: 9998;
  top: 5px;
  right: 5px;
  margin: 0;
  margin-top: 2px;
}

.predator-info-container {
  display: flex;
  background: var(--theme-dark-background);
  border-radius: var(--button-radius);
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  padding: 20px;
  gap: 10px;
}

.prey-image {
  max-width: 100px;
  max-height: 100px;
}

.predator-prey {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.prey-info {
  background: var(--theme-dark-accent-background);
  border-radius: var(--button-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

.prey-name, .predator-name {
  font-weight: bold;
  min-height: fit-content;
}

.predator-content, .prey-content {
  font-size: 8pt;
  text-align: center;
  min-height: fit-content;
}
