<a class="header-menu-item logo-button" href="%SITE%">%SITENAME%</a>
<div class="header-menu">
  <a class="header-menu-item" href="%SITE%">Home</a>
  <div class="header-menu-dropdown">
    <a href="#" class="header-menu-item header-menu-dropdown-button">More<span class="dropdown-arrow"></span></a>
    <div class="header-menu-dropdown-content hidden">
      <a href="%SITE%overview.html">Overview</a>
      <a href="#item2">Item 2</a>
      <a href="#item3">Item 3</a>
      <a href="#item4">Item 4</a>
    </div>
  </div>
</div>
