@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('loader.css');

:root {
  --theme-dark-background: #2b2b2b;
  --theme-dark-accent-background: #4b4b4b;
  --theme-text: #dddddd;
}

* {
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
  color: var(--theme-text);
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background: var(--theme-dark-background);
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

.dropdown-arrow {
  border: solid var(--theme-text);
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 5px;
}

main {
  margin-top: 64px;
  margin-bottom: 64px;
}
