@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('loader.css');
@import url('player.css');

@property --button-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

:root {
  --theme-dark-background: #2b2b2b;
  --theme-dark-accent-background: #4b4b4b;
  --theme-text: #cccccc;
  --theme-text-accent: #dddddd;
  --theme-hover-accent: #ffffff22;
  --theme-accent-1: #3ade76;
  --theme-accent-2: #d9b857;
  --theme-button-text: #cbcbcb;
  --theme-button-hover-text: #fbfbfb;
  --theme-button-hover-background: #8b8b8b;
  --button-radius: 5px;
}

* {
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
  color: var(--theme-text);
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background: var(--theme-dark-background);
}

.centered {
  text-align: center;
}

.hidden {
  display: none!important;
}

.dropdown-arrow {
  border: solid var(--theme-text);
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.dropdown-active main {
  pointer-events: none;
}

main {
  height: calc(100% - calc(64px * 2));
  overscroll-behavior: contain;
  overflow: auto;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--theme-text-accent);
}

button {
  color: var(--theme-button-text);
  background-color: var(--theme-dark-accent-background);
  border: 0;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: var(--button-radius);
  cursor: pointer;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 250ms ease-out;
  --button-color: var(--theme-button-text);
}

button:hover {
  background-color: var(--theme-button-hover-background);
  color: var(--theme-button-hover-text);
  --button-color: var(--theme-button-hover-text);
}

button.outline-button {
  background: transparent;
  color: var(--theme-accent-1);
  border: 1px solid var(--theme-accent-1);
  --button-color: var(--theme-accent-1);
}

button.outline-button:hover {
  background: var(--theme-accent-1);
  color: var(--theme-dark-accent-background);
  --button-color: var(--theme-dark-accent-background);
}

button.theme-button {
  background: var(--theme-accent-1);
  color: var(--theme-dark-accent-background);
  --button-color: var(--theme-dark-accent-background);
}

button.theme-button:hover {
  background: var(--theme-accent-2);
  color: var(--theme-dark-accent-background);
  --button-color: var(--theme-dark-accent-background);
}

.paragraph {
  padding: 20px;
  padding-top: 0;
}
