.header-menu {
  display: inline-flex;
  flex-direction: row;
}

.header-menu-item {
  display: inline-flex;
  font-size: 13pt;
  text-decoration: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background: transparent;
  height: 64px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.header-menu-item:hover {
  background: var(--theme-hover-accent);
}

.logo-button .logo-button-text {
  font-weight: 800;
  font-size: 21pt;
  color: var(--theme-text);
  background: linear-gradient(90deg, var(--theme-text) 0%, var(--theme-text) 60%, var(--theme-accent-2) 69%, var(--theme-accent-1) 78%, var(--theme-accent-1) 100%);
  background-clip: text;
  background-size: 600% 100%;
  background-position-x: left;
  transition: background-position-x 500ms linear;
}

.logo-button:hover .logo-button-text {
  background-position-x: right;
}

header {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background: var(--theme-dark-accent-background);
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-menu-dropdown-content {
  position: fixed;
  transform: translate(-50%, 10px);
  background: var(--theme-dark-accent-background);
  padding: 10px;
  border: 0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  left: 50%;
}

.header-menu-dropdown-content a {
  width: 150px;
  height: 50px;
  margin: 2px;
  text-decoration: none;
  border-radius: 10px;
  background: transparent;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 7px;
  text-align: center;
}

.header-menu-dropdown-content a:hover {
  background: var(--theme-hover-accent);
}
