.loader-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--theme-dark-background);
  z-index: 99999;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ldBar-label {
  color: var(--theme-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ldBar path.mainline {
  stroke: var(--theme-accent-1);
  stroke-linecap: round;
}
